*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(211, 211, 211);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper{
  width: 980px;
  margin:10px auto;
}

.ticket{
  background: #fff;
  width: 100%;
  padding:20px;
  box-shadow: 0 0 5px rgb(75, 75, 75);
  border-radius: 5px;
}
.ticket__form{
  width: 50%;
  margin: 0 auto;
}
.ticket__label{
  display:block;
  margin-top: 10px;
}

.ticket__input{
  padding:8px;
  border-radius: 5px;
  border: 1px solid #686767;
}
.btn{
  background: blue;
  padding: 8px 15px;
  color:#fff;
  border:0;
  border-radius: 10px;
  margin-top: 5px;
}


.tickets-list{
  margin-top: 10px;
}
.tickets-list__item{
  background: #fff;
  width: 100%;
  padding:20px;
  box-shadow: 0 0 5px rgb(75, 75, 75);
  border-radius: 5px;
}
